body {
    font-family: 'Dosis', sans-serif;
    background: url('./background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h3 {
    font-size: 90px;
}

.jumbotron {
    background: rgba(255, 255, 255, 0.09);
    text-shadow: #fff 5px 5px 10px;
}

.btn {
    margin: 10px;
}

.btn-light {
    background: rgba(255, 255, 255, .02);
    width: 200px;
    border: 2px solid #333;
    border-radius: 0;
}

.btn-light:hover {
    background: rgba(0, 0, 0, .8);
    color: #fff;
    border: 2px solid #333;
}