<section class="card card-body mt-5 mb-5">
    <h1>About</h1>
    <p>This is an MVP for a fullstack application that creates, edits, shares, and allows users to fill out forms</p>
    <p>Version: 0.5.0</p>
</section>