<section class="card card-body col-sm-6 col-sm-offset-3 mx-auto mt-5 mb-5">
    <h3>Create Form</h3>
    <form action="/forms" method="post">
        <section class="form-group">
            <input type="text" class="form-control" name="survey" id="survey" placeholder="title" required value="<%= survey %>">
        </section>
        <section class="form-group">
            <input type="text" class="form-control" name="question" placeholder="quesion" required>
            <input type="hidden" value="text" name="type">
        </section>
        <button type="submit" class="btn btn-dark">Save</button>
    </form>
</section>