<section class="card card-body col-sm-6 center text-center col-sm-offset-3 mx-auto mt-5 mb-5">
    <h1>Answers</h1>
</section>

<% for(let i = answers.length - 1 ; i >= 0; i-- ) { %>
<section class="row card card-body center text-center col-sm-offset-3 mx-auto mt-2">

    <section class=" form-group">

        <label class="question-label" for="answer">
            <%= answers[i].question %>
        </label>
        <section>
            <% for (let j = answers[i].answers.length; j >= 0 ; j--) { %>

            <p class="text-center">

                <%= answers[i].responseID %>
            </p>

            <p class="text-center">
                <%= answers[i].answers[j] %>
            </p>
            <% } %>
        </section>



    </section>

</section>
<% } %>