<section class="card card-body">
    <h3 class="mb-3">Edit Form</h3>
    <form action="/forms" method="post">
        <section class="form-group">
            <h5>
                Now Editing Survey:
                <%= survey %>
            </h5>

        </section>
        <section class="form-group">
            <input type="text" class="form-control" name="question" placeholder="quesion" required>
            <input type="hidden" value="text" name="type">
        </section>
        <input type="hidden" name="survey" value="<%= survey%>">
        <input type="submit" class="btn btn-dark btn-lg" value="Save">
        <!-- <button href="/forms?survey=<%= survey%>"" type=" submit" class="btn btn-dark">Save</button> -->
    </form>
</section>