<section class="card card-body">
    <h3>Edit Form</h3>
    <form action="/forms" method="put">
        <section class="form-group">
            <input type="text" class="form-control" name="question" required>
            <input type="hidden" value="text" name="type">
        </section>
        <section class="form-group">
            <textarea class="form-control" name="answer" disabled></textarea>
        </section>
        <button type="submit" class="btn btn-dark">Save</button>
    </form>
</section>