<section class="jumbotron text-center mt-5">
    <h1 class="display-3">
        <%- title %>
    </h1>
    <p class="lead">Create and manage your forms</p>
    <a href="/signup" class="btn btn-dark">Signup</a>
</section>