<section class="jumbotron text-center">
    <h1 class="display-3">
        <%- title %>
    </h1>
    <p class="lead">Create and manage your forms</p>
    <a href="/add" class="btn btn-dark btn-lg">Create New Form</a>
    <a href="/login" class="btn btn-dark btn-lg">Login Test</a>
    <a href="/signup" class="btn btn-dark btn-lg">Signin Test</a>
</section>