<section class="jumbotron text-center mt-5">
    <h1 class="display-3">
        <%- title %>
    </h1>
    <p class="lead">Create and manage your forms</p>
    <a href="/signup" class="btn btn-dark">Signup</a>


</section>

<!-- <section class="row mx-auto mb-5 info">

    <section class="col-lg-6">

        <h2 class="text-center">Feature 1</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, perferendis, numquam sunt, voluptatem quod
            molestiae eveniet aspernatur accusamus nostrum est animi minus quidem reiciendis voluptate aliquid enim
            ratione
            soluta iure.</p>
    </section>

    <section class="col-lg-6">

        <h2 class="text-center">Feature 2</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui, perferendis, numquam sunt, voluptatem quod
            molestiae eveniet aspernatur accusamus nostrum est animi minus quidem reiciendis voluptate aliquid enim
            ratione
            soluta iure.</p>
    </section>

</section> -->