<section class="row">
    <% for(let i = surveyList.length - 1 ; i > 0; i-- ) { %>

    <section class="card title-list ml-5 mt-3" style="width: 18rem;">
        <img class="card-img-top" src="img/cloud.jpg" alt="Card image cap">
        <section class="card-body">
            <h5 class="card-title text-center">
                <%= surveyList[i] %>
            </h5>
            <a class="btn btn-dark nav-link align-middle big-x mt-2" href="/deleteForm?survey=<%= surveyList[i] %>">Delete</a>
            <a class="btn btn-dark nav-link align-middle big-x mt-2" href="/forms?survey=<%= surveyList[i] %>">Edit</a>
            <a class="btn btn-dark nav-link align-middle big-x mt-2" href="/answers?surveyID=<%= surveyList[i] %>">View
                Answers</a>
        </section>
    </section>

    <% } %>

</section>