body {
    font-family: 'Dosis', sans-serif;
    background: url('img/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  letter-spacing: 2px;
}

.jumbotron,
.card,
.form-control, 
.info {
    border: 1px solid #333;
  
}

.info {
    background: #fff;
    padding: 20px;
}

.module {
    margin: 0;
    padding: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.question {
    margin-bottom: 30px;
}

.nav-link {
    color: #333;
}

.ex-circle {
    font-size: 20px;
}

.small-txt {
    font-size: 14px;
}

.ex-circle:hover {
    color: #cd0000;
    font-size: 20px;
    transition: 0.9s;
    transform: rotateZ(360deg);
}

.card-title {
    font-size: 30px;
}

.navbar-expand-sm .navbar-nav .dropdown-menu {
    border: 1px solid #333;
}

.dropdown-item:hover {
    color: #fff;
    transition: 0.9s;
    box-shadow: inset 400px 0 0 0 #333;
}

.card-img {
    object-fit: cover;
    background: no-repeat center center fixed;
    max-width:100%;
    max-height:100%;    
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover; 
}

.title-list {
    object-fit: cover;
    transition: all .3s ease-in-out;
    width: 150px;
}

.title-list:hover {
    transform: scale(1.06);
}

.btn-dark {
    color: #fff;
    font-size: 15px; 
}

a.hover {
    text-decoration: none;
}

.nav-pills .show>.nav-link {
    color: #fff;
    background-color: #666;
}

/* .btn-dark:hover {
    color: #333;
    transition: 0.9s;
    box-shadow: inset 400px 0 0 0 #fff;
} */

.question-label {
    font-size: 20px;
}

.editNav {
    margin: 5px 3px 11px -52%;
}

.sticky {
    position: sticky;
   
}

.social-text-links {
    text-decoration: none;

    color: #fff;
}

.social-list {
    display: inline-block;
}

.social {
    color: rgba(255, 255, 255, .75);
}

.social:hover {
    color:#fff; 
    text-decoration:none; 
    cursor:pointer;  
}

.social-text-links {
    list-style-type: none;
    color: #fff;
    text-decoration: none;
}

.social-text-links:hover {
     color:#fff; 
     text-decoration:none; 
     cursor:pointer;  
}

.copyright {
    color: #fff;
}

.footer {
    margin-top: 200px;
}