<a href="/read"><i class="fas fa-eye"></i></a>
<section class="card card-body">
    <h3>Create Form</h3>
    <form action="/forms" method="post">
        <section class="form-group">
            <input type="text" class="form-control" name="question" required>
        </section>
        <section class="form-group">
            <label for="question">Paragraph</label>
            <textarea class="form-control" name="answer"></textarea>
        </section>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</section>